<html>
<head>
    <title>Home</title>
</head>
<body>
    <h3>Inserisci la modalità: </h3>
    <a href="/quartiere"><p>1. Quartiere</p></a>
    <a href="/quaralfa1"><p>2. Quartieri in ordine alfabetico</p></a>
    <a href="/quaralfa2"><p>3. Quartieri in ordine alfabetico</p></a>
    <a href="/numeroclienti"><p>4. Visualizzare il prezzo per ogni</p></a>
    <a href="/mediaquart"><p>4. Visualizzare la media dei prezzi per un quartiere inserito</p></a>
    <a href="/mediaquarttutti"><p>4. Visualizzare la media dei prezzi per ogni quartiere</p></a>
</body>
</html>